
@import url(html.css);

/* this changes the general color of the whole page, font and how far the text is from the edges. */
body {
  background-color: #ffbc72;
  font-family: SansSerif;
  padding: 10px 10px 10px;
  margin: 10px 10px 10px;
  color: #eeeeee;
  text-shadow: 0 1px 1px black;
}

/* this changes the navigation bar at the top of the page */
div.related {
  background-color: #f65310;
  margin: 10px 10px 10px;
  padding: 10px 10px 10px;
  clear: page;
}

/* this changes the spacing and location of the title in the navigation bar */
div.related h3 {
  display: none;
}

/* this changes the list in the navigation bar, you can choose to have number lists in different languages*/
div.related ul {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* changes how you want to display the list. Horizontally or vertically or like a list*/
div.related li {
  display: inline;
}

/* changes where the next|index is. */
div.related li.right {
    float: right;
    margin-right: 0.25em;
}

/* controls the whole text except the navigation bar title*/
div.related a {
  color: #eeeeee;
}

/* basically adds color to the body text, like behind it*/
div.section {
  background-color: #f63f11;
  border-radius: 0em;
  padding: 10px 10px 10px;
  margin: 10px 10px 10px;
}



